/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styl dla całej strony */
body {
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Jeden typ czcionki dla całej strony */
    line-height: 1.6; 
}

html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Blokuje przewijanie w poziomie */
}

/* Sekcje */
section {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Ustawienie zawartości w kolumnie */
    justify-content: flex-start; /* Zawartość sekcji zaczyna się od góry */
    align-items: center; /* Wyśrodkowanie zawartości */
    background-color: #2980b9;
    padding: 40px 0; /* Padding do góry i do dołu */
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Kiedy sekcja stanie się widoczna */
.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Sekcja, początkowo niewidoczna */
.section .content {
    opacity: 0; /* Zawartość jest niewidoczna */
    transform: translateY(30px); /* Zawartość jest przesunięta w dół */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Animacja przejścia */
}

/* Kiedy zawartość jest widoczna */
.section.visible .content {
    opacity: 1; /* Zawartość staje się widoczna */
    transform: translateY(0); /* Zawartość przesuwa się na swoje miejsce */
}

/* Stylizacja wskaźnika przewijania */
#scroll-down-indicator {
    margin-top: 20px;
    animation: bounce 1.5s infinite;
    cursor: pointer;
}
/* 
---- 
----
NAVBAR
----
----
*/ 

/* Zaktualizowane style dla navbar */
#navbar {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #090645, #2a1a6b);
    border-bottom: 2px solid #4a2577; /* Dodaj subtelną ramkę w kolorze podobnym do odcienia */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Lekki cień */
    z-index: 10;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Efekt scrolla */
#navbar.scrolled {
    height: 50px;
}

#navbar ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 60%;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    margin-left: 3px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.8;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.navbars.active {
    color: #50e3c2 !important;
    text-shadow: 0 0 10px rgba(80, 227, 194, 0.7), 0 0 20px rgba(138, 249, 241, 0.5); /* Poświata */
    padding: 5px 10px;
}

#navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #50e3c2, #34bfa3, #1e876a);
    transition: width 0.3s ease-in-out;
}

#navbar ul li a:hover::after {
    width: 100%;
}

#navbar ul li a:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}


#nav-links li {
    opacity: 0; /* Ustawiamy elementy na niewidoczne początkowo */
    transform: translateX(200px); /* Ustawiamy je na prawo */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Przejście przez opacity i transform */
}

/* Dodajemy animację wejścia */
#nav-links li.show {
    opacity: 1; /* Element stanie się widoczny */
    transform: translateX(0); /* Element wróci na swoje miejsce */
}

/* Hamburger menu icon styles */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.menu-icon .bar {
    height: 4px;
    width: 100%;
    background-color: #fafafa;
}

/* Media query dla małych ekranów */
@media (max-width: 768px) {
    #navbar ul {
        display: none; /* Ukrywamy menu domyślnie */
        position: sticky;
        left: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        list-style: none;
        z-index: 10;
    }

    #navbar ul li {
        display: inline-block;
        margin: 0 20px;
    }

    #navbar ul.active {
        display: block;
        text-align: center;
    }

    .menu-icon {
        display: flex; /* Pokazujemy ikonę hamburgera */
    }
}

/* 
---- 
----
KONIEC NAVBAR
----
----
*/ 

/* 
---- 
----
SEKCJA INTRO 
----
----
*/ 

/* Sekcja Intro */
#intro-section {
    position: relative;
    height: calc(100vh - 50px); /* Uwzględnij wysokość navbar */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color:rgba(255, 255, 255, 0.7);
    text-align: center;
    overflow: hidden;
    margin: 0; /* Usuń marginesy */
    padding: 0; /* Usuń padding */
    will-change: transform;
    background-color: #2980b9;
}

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.text-content {
    max-width: 50%;
}

/* Początkowo ukryte elementy */
.hidden {
    opacity: 0;
    transform: translateY(50px); /* Elementy poza ekranem */
}

/* Animacje pojawiania się elementów */
.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

/* Animacje wejścia dla różnych elementów */
h1 {
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0s; /* Pojawia się na początku */
}

h2 {
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 0.5s; /* Pojawia się później */
}

h3 {
    animation: fadeInRight 1s ease-in-out forwards;
    animation-delay: 1s; /* Pojawia się później */
}

p {
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 1.5s; /* Pojawia się ostatnia z tych elementów */
}

/* Animacja pojawiania się z dołu */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animacja pojawiania się z lewej */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animacja pojawiania się z prawej */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animacja dla .social-links (później) */
@keyframes fadeInSocialLinks {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-links {
    animation: fadeInSocialLinks 1s ease-in-out forwards;
    animation-delay: 2s; /* Pojawia się po h1, h2, h3, p */
}

@keyframes highlightText {

    50% {
        box-shadow: 0 0 10px 5px #50e3c2;  /* Dodanie poświaty w połowie animacji */
    }
}

.highlight {
    animation: highlightText 2s ease-in-out forwards infinite;
    animation-delay: 2s;
}
    
#typing-text {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    padding-right: 5px;
    animation: blink 0.7s infinite step-end;
    color: #50e3c2;
  }

  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.text-content h1 {
    position: relative;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards, rotateGradient 4s linear infinite, oscillate 1s ease-in-out infinite;
    background: linear-gradient(to bottom, #34D399 50%, #50e3c2  50%);
    -webkit-background-clip: text;
    color: transparent; /* Kolor tekstu jest transparentny, aby gradient był widoczny */
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
}

.text-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #34D399;
}

/* Styl dla tekstu */
.intro-text {
    z-index: 2;
    padding: 0;
}

.text-content h3 {
    font-size: 1.8rem;
}

.text-content .highlight {
    color: #34D399;
}

.text-content p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 15px;
    color: #fff;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #34D399;
}

.image-container {
    position: relative;
    text-align: center;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden; /* Zapewnia, że obramowanie nie będzie wychodzić poza obraz */
    box-shadow: 
    0 0 30px #34D399,  /* Fioletowy i błękitny z przezroczystością */
    0 0 60px #7f69d2,  /* Złoty */
    0 0 40px rgba(255, 0, 255, 0.4); /* Fioletowy z przezroczystością */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 1;  /* Upewnij się, że obrazek jest widoczny */
}

.profile-image:hover {
    transform: scale(1.1); /* Powiększenie obrazka na hover */
    box-shadow: 
        0 0 30px #34D399,        /* Błękitny */
        0 0 60px #00B5D6,        /* Błękitny */
        0 0 40px #9AFF57;       /* Limonkowy */
}

/* Jeśli obrazek ma pozostać widoczny w tle przez cały czas, wyłączamy inne animacje */
.profile-image.visible {
    opacity: 1;  /* Upewnij się, że obrazek będzie widoczny */
}

/* Glow Effect */
#intro-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Domyślny styl dla kropek */
.dot {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: dotAnimation 2s linear infinite;
}

/* Animacja dla kropek */
@keyframes dotAnimation {
    0% {
      opacity: 0;
      transform: scale(0.5) translateX(0) translateY(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translateX(20px) translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: scale(0.5) translateX(-20px) translateY(20px);
    }
}
  
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsywność */
@media (max-width: 768px) {
    #intro-section {
        height: 100%;
    }

    .text-content h1 {
        font-size: 2.1rem;
    }

    .text-content h2 {
        font-size: 1.75rem;
    }
    
    .text-content h3 {
        font-size: 1.1rem;
    }

    #typing-text {
        font-size: 1.1rem;
    }

    .text-content p {
        font-size: 1rem;
    }
}

/* 
---- 
----
KONIEC SEKCJA INTRO 
----
----
*/ 

/* 
---- 
----
SEKCJA ABOUT
----
----
*/ 

/* Styl ogólnego kontenera about-container */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Odstęp między sekcjami */
    width: 100%;
    max-width: 1500px;
    margin: 0 auto; /* Wyśrodkowanie kontenera */
    padding: 20px; /* Wewnętrzne odstępy dla kontenera */
    background: transparent; /* Tło przezroczyste */
    border: 5px solid rgba(255, 255, 255, 0.7);; /* Jasny border */
    border-radius: 20px; /* Zaokrąglone rogi */
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1); /* Cień wewnętrzny i zewnętrzny */
}

/* Styl kontenerów tekstu */
.message {
    padding: 20px; /* Wewnętrzne odstępy */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animacja przy hover */
    backdrop-filter: blur(10px); /* Efekt rozmycia tła */
}

/* Klasa, która zostanie dodana, gdy elementy będą widoczne */
.message.visible {
    opacity: 1; /* Tekst staje się widoczny */
    transform: translateY(0); /* Wraca na swoje miejsce */
}

/* Tekst po lewej stronie */
.left-side p {
    font-family: 'Playfair Display', serif; /* Nowa czcionka dla lewego tekstu */
    font-size: 2.8rem; /* Powiększony rozmiar tekstu */
    font-weight: bold; /* Pogrubiony tekst */
    background: linear-gradient(90deg, #34D399, #00B5D6);
    -webkit-background-clip: text; /* Wypełnienie tekstu gradientem */
    -webkit-text-fill-color: transparent; /* Ustawienie tekstu jako przezroczysty */
    opacity: 0; /* Ukrycie przed animacją */
    animation: fadeInZoom 1s forwards; /* Animacja pojawiania się z powiększeniem */
}

/* Animacja pojawiania się z powiększeniem dla tekstu po lewej stronie */
@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8); /* Początkowe zmniejszenie */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Pełny rozmiar */
    }
}

/* Tekst po prawej stronie */
.right-side p {
    font-family: 'Raleway', sans-serif; /* Nowa czcionka dla prawego tekstu */
    font-size: 2rem; /* Mniejszy rozmiar tekstu */
    font-weight: 500; /* Średnia grubość tekstu */
    background: linear-gradient(90deg, #34D399, #00B5D6);
    -webkit-background-clip: text; /* Wypełnienie tekstu gradientem */
    -webkit-text-fill-color: transparent; /* Ustawienie tekstu jako przezroczysty */
    opacity: 0; /* Ukrycie przed animacją */
    animation: slideFadeIn 1.2s forwards; /* Animacja pojawiania się ze ślizgiem */
}

/* Animacja pojawiania się ze ślizgiem dla tekstu po prawej stronie */
@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Ślizg z prawej strony */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Docelowa pozycja */
    }
}

/* Styl dla tekstu po lewej stronie */
.left-side, .right-side {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    width: 48%;
}


/* Animacja dla pojawiającego się tekstu po lewej stronie */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animacja dla pojawiającego się tekstu po prawej stronie */
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.left-side h1 {
    font-size: 2.5rem;
    color: #34D399;
    margin-bottom: 20px;
    animation: none; /* Usunięcie animacji */
    font-weight: 700;
    text-shadow: 0 0 10px #00B5D6, 0 0 20px #8A2BE2; /* Colorful shadow */
}

.right-side h4 {
    font-size: 1.2rem;
    color: #8B5CF6;
    margin-bottom: 15px;
}

.left-side p, .right-side p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #333; /* Ciemniejszy kolor tekstu dla lepszego kontrastu */
    margin-bottom: 15px;
    will-change: transform, opacity;
}

/* Styl dla widocznych elementów po załadowaniu */
.left-side.visible, .right-side.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Styl dla przycisku 'More About Me' */
.more-about-me-btn {
    background-color: #34D399;
    box-shadow: 0 0 10px #34D399;
    color: rgba(255, 255, 255, 0.758);
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.more-about-me-btn:hover {
    background-color: #50e3c2;
    box-shadow: 0 0 20px #50e3c2;
    color: white;
}


/* Modal general styles */
.modal-section-about {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark background */
    overflow: auto;
    padding-top: 60px;
    text-align: center; /* Center the content */
}


/* Modal content */
.modal-content-section-about {
    animation: none;
    background: linear-gradient(135deg, #090645, #2a1a6b); /* Purple background */
    margin: 5% auto;
    padding: 30px;
    border-radius: 20px; /* Rounded corners */
    width: 80%;
    max-width: 800px;
    color: #fff; /* White text color for better contrast */
    box-shadow: 0 0 20px #3700ff, 0 0 40px #00ce82; /* Violet and Blue shadows */
    transition: all 0.3s ease; /* Smooth transition for shadows */
    line-height: 1.8;
}

/* Title */
.modal-content-section-about h2 {
    font-size: 2.5rem;
    color: #34D399;
    margin-bottom: 20px;
    animation: none; /* Usunięcie animacji */
    font-weight: 700;
    text-shadow: 0 0 10px #00B5D6, 0 0 20px #8A2BE2; /* Colorful shadow */
}

/* List of skills */
.skills-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

.skills-list li {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
}

.skills-list li::before {
    content: "• ";
    color: #34D399; /* Green bullet points */
    font-size: 1.5rem;
}

/* Modal text */
.main-text {
    font-size: 1.2rem;
    color: #dcdcdc;
    margin-bottom: 20px;
    text-align: justify; /* Justify text for better readability */
    line-height: 1.6;
    animation: none; /* Usunięcie animacji */
}


/* Close button */
.close-section-about {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close-section-about:hover,
.close-section-about:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-section-about {
    animation: fadeInModal 0.5s ease-out;
}

/* Add a fade-in effect for the modal content */
@keyframes fadeInModal {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Układ w kolumnie dla mniejszych ekranów */
        align-items: center; /* Wyśrodkowanie zawartości */
        gap: 15px;
    }

    .left-side, .right-side {
        width: 90%; /* Ustawienie szerokości kontenerów na mniejszych ekranach */
        margin-bottom: 20px; /* Odstęp między sekcjami */
    }

    .left-side p, .right-side p {
        font-size: 1.2rem; /* Zmniejszenie rozmiaru tekstu na małych ekranach */
    }

    .modal-content-section-about {
        width: 90%;
        padding: 15px;
    }

    .modal-content-section-about h2 {
        font-size: 2rem;
    }

    .skills-list {
        font-size: 1rem;
    }

    .main-text {
        font-size: 1rem;
    }
}

/* 
---- 
----
KONIEC SEKCJA ABOUT 
----
----
*/ 

/* 
---- 
----
SEKCJA SKILL 
----
----
*/ 

#skills-section {
    position: relative;
    height: auto;
    background: url(./Images/06abecb4-0ba4-4023-8aca-b2a802d8854f.png) no-repeat center center/cover;
    overflow: hidden;
    padding-top: 60px;
    box-sizing: border-box;
}

/* Nagłówek sekcji */
.section-heading {
    color: #34D399;
    text-shadow: 0 0 10px #8B5CF6, 0 0 20px #8B5CF6;
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    margin-bottom: 40px;
    z-index: 2;
    display: block;
    width: 100%;
}


/* Kontener umiejętności */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Zmniejszenie rozmiaru umiejętności */
    gap: 30px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

/* Styl dla umiejętności */
.skill-information {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

/* Efekty hover dla umiejętności */
.skill-information:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Nazwa umiejętności */
.skill-name {
    font-size: 1.1rem; /* Zmniejszenie rozmiaru tekstu */
    font-weight: bold;
    text-align: center;
    color: transparent;
    background: linear-gradient(20deg, #8B5CF6, #34D399);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    margin-top: 10px;
    letter-spacing: 1px;
}

/* Efekty hover dla nazwy umiejętności */
.skill-name:hover {
    background: linear-gradient(20deg, #34D399, #8B5CF6);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 15px #34D399, 0 0 25px #34D399;
}

/* Ikony z animacją pulsowania */
.fa-beat {
    color: #34D399;
    font-size: 2.5rem;
    max-width: 100%;
    animation: pulseIcon 1.5s ease-in-out infinite;
}

/* Ikona na hover */
.fa-beat:hover {
    color: #34D399;
    text-shadow: 0 0 10px #8B5CF6, 0 0 20px #8B5CF6;
}

/* Pasek postępu */
progress {
    width: 100%;
    height: 12px;
    margin-top: 10px;
    border-radius: 5px;
    animation: progressAnimation 2s ease-out forwards;
}

progress::-webkit-progress-value {
    background-color: #61d334;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #dcdcdc;
    border-radius: 5px;
}

progress[value="60"]::-webkit-progress-value {
    background-color: #f13207; /* Czerwony dla niskich wartości */
    border-radius: 5px;
}

/* Animacja pulsowania dla ikon */
@keyframes pulseIcon {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Subtelniejsza animacja */
    }
}

/* Animacja dla progress */
@keyframes progressAnimation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Animacja hover dla skill-information */
@keyframes hoverEffect {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(10deg) scale(1.05);
    }
    100% {
        transform: rotate(0deg) scale(1.1);
    }
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
    .section-heading {
        font-size: 1.8rem;
        padding: 15px;
    }

    .skills-container {
        gap: 20px;
        padding: 0 10px;
    }

    .skill-information {
        width: 100%;
        padding: 15px;
    }

    .skill-name {
        font-size: 1.2rem;
    }

    .fa-beat {
        font-size: 2.5rem;
    }

    progress {
        height: 10px;
    }
}

@media (max-width: 480px) {
    .section-heading {
        font-size: 1.5rem;
    }

    .skills-container {
        gap: 15px;
        padding: 0 5px;
    }

    .skill-information {
        width: 100%;
        padding: 10px;
    }

    .skill-name {
        font-size: 1rem;
    }

    .fa-beat {
        font-size: 2rem;
    }

    progress {
        height: 8px;
    }
}


/* 
---- 
----
KONIEC SECTION SKILL 
----
----
*/ 

/* 
---- 
----
SECTION PROJECTS
----
----
*/ 

/* Sekcja projektów */
#project-section {
    position: relative;
    padding: 50px 0 100px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Kontener nagłówka i opisu */
.text-container {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/* Tytuł sekcji */
.text-container .section-heading-2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #34D399; /* Zielony kolor tytułu */
    background: linear-gradient(90deg, #34D399, #00B5D6); /* Gradient tła */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Opis sekcji */
.text-container .section-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
}

/* Kontener projektów */
.projects-container.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
    max-width: 1200px; /* Możesz zmienić szerokość kontenera, aby dopasować do strony */
}

/* Karta projektu */
.image-box {
    position: relative;
    width: 280px;
    height: 350px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), inset 0 4px 12px rgba(0, 0, 0, 0.05); /* Cień zewnętrzny i wewnętrzny */
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Obrazek projektu */
.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* Nakładka z opisem po najechaniu */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;  /* Początkowo ukryta nakładka */
    background: rgba(0, 0, 0, 0.3); /* Subtelne ciemne tło */
    transition: height 0.3s ease-in-out, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    text-align: center;
    overflow: hidden; /* Ukrywanie nadmiaru */
    opacity: 0;  /* Początkowo ukryta nakładka */
}

/* Po najechaniu na obrazek rozwija się nakładka i pojawia się opis oraz technologie */
.image-box:hover .overlay {
    height: 100%;  /* Rozszerzamy nakładkę na pełną wysokość */
    opacity: 1;  /* Pokazujemy nakładkę */
}

/* Opis projektu */
.overlay .project-description {
    font-size: 1.1rem;
    margin-bottom: 10px;
    opacity: 0;  /* Początkowo ukryty opis */
    transition: opacity 0.3s ease;
}

/* Technologie projektu */
.overlay .technologies {
    display: flex;
    gap: 10px;
    opacity: 0;  /* Początkowo ukryte technologie */
    transition: opacity 0.3s ease;
}

.overlay .tech {
    background-color: rgba(255, 255, 255, 0.5); /* Subtelny kolor tła dla technologii */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.overlay .tech:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Jaśniejsze tło po najechaniu */
    color: #333;
}

/* Po najechaniu na obrazek pokazujemy opis i technologie */
.image-box:hover .overlay .project-description,
.image-box:hover .overlay .technologies {
    opacity: 1;  /* Pokazujemy opis i technologie */
}

/* Tytuł projektu */
.project-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Efekty hover */
.image-box:hover .project-image {
    transform: scale(1.1);
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.3); /* Subtelniejszy cień */
}

.image-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Subtelniejszy cień */
}

/* Modal container */
.modal-project {
    display: none;  /* Początkowo ukryty */
    position: fixed;  /* Modal w pozycji stałej */
    z-index: 9999;  /* Wysoki priorytet, aby modal był na wierzchu */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Przezroczyste tło */
    overflow: auto;  /* Zawartość modalu może być przewijana */
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

/* Modal content */
.modal-content {
    position: relative;
    margin: 5% auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s ease-out;  /* Animacja wchodzenia */
}

/* Tytuł modalu */
.modal-content h2 {
    font-size: 2rem;
    color: #333;
}

/* Modal image */
.modal-content img {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

/* Technologie */
.technologies {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.technologies .tech {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.technologies .tech:hover {
    background-color: #ddd;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001; /* Upewniamy się, że przycisk jest nad innymi elementami */
}

/* Animation for modal entrance */
@keyframes slideIn {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Ustawienia dla mniejszych ekranów (responsive) */
@media (max-width: 768px) {
    .projects-container.content {
        gap: 15px;
    }

    .image-box {
        width: 220px;
        height: 220px;
    }

    .text-container .section-heading-2 {
        font-size: 2rem;
    }

    .text-container .section-description {
        font-size: 1rem;
    }
}

/* 
---- 
----
KONIEC SECTION PROJECTS
----
----
*/ 


/* 
---- 
----
SECTION CONTACT
----
----
*/ 

#contact-section {
    color: white;
    text-align: center;
    position: relative;
    padding: 80px 20px;
    animation: slideInFromBottom 1s ease-out;
    height: 100vh;
    background: url(./Images/background_contact_section.png) no-repeat center center/cover;
}

/* Animacja sekcji - wjeżdżanie od dołu */
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-heading-3 {
    font-size: 3rem;
    color: white; /* Ciemny kolor dla nagłówka */
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 0;
    animation: bounceIn 1s ease-out 0.5s forwards;
}

/* Nagłówek */
.contact-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #34D399; /* Dostosowane do odcienia zieleni */
}

.contact-header p {
    font-size: 1.2rem;
    color: #e0e0e0;
}

/* Formularz kontaktowy */
.contact-form {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5); /* Przezroczyste tło */
    padding: 30px;
    border-radius: 10px;
}

.contact-form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #fff;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form button {
    padding: 12px 20px;
    background-color: #34D399;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #2aa77f;
}

/* Linki społecznościowe */
.contact-links {
    margin-top: 40px;
}

#contact-section p {
    font-size: 1.5rem;
    color: rgba(244, 244, 244, 0.7);
    margin-bottom: 30px;
    opacity: 0;
    animation: fadeInFromLeft 1.2s ease-out 0.7s forwards;
}

/* Animacja dla nagłówka - skok */
@keyframes bounceIn {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animacja dla tekstu - wejście z lewej */
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    animation: fadeInFromBottom 1.2s ease-out 1s forwards;
}

/* Animacja przycisków kontaktowych */
.contact-link {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(90deg, #6A5ACD, #8A2BE2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: transform 0.4s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efekt hover dla przycisków */
.contact-link:hover {
    background-color: hsl(243, 100%, 69%);
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* Animacja ikony przy kliknięciu */
.contact-link i {
    margin-right: 10px;
    font-size: 1.8rem;
    transition: transform 0.3s ease;
}

.contact-link:hover i {
    transform: rotate(360deg);
}

/* Stylowanie linków tekstowych */
.contact-links a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.6rem;
    color: #FF6347;
    font-weight: bold;
}

/* Efekt hover dla linków */
.contact-links a:hover {
    background: linear-gradient(90deg, #FF6347, #FFD700);
    transform: scale(1.1);
}

.contact-links i {
    margin-right: 10px;
}

/* Podkreślenie linków przy hover */
.contact-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #6A5ACD, #8A2BE2);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
}

.contact-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Styl przycisku Scroll to Top */
.scroll-to-top {
    position: fixed;
    bottom: 20px; /* Pozycja w dolnym rogu ekranu */
    right: 20px; /* Pozycja w prawym rogu ekranu */
    padding: 15px;
    border-radius: 50%;
    border: rgba(244, 244, 244, 0.7) solid 2px;
    background-color: #6A5ACD;
    color: rgba(244, 244, 244, 0.7);
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000; /* Ustawiamy wyższy priorytet, aby był widoczny */
    display: none; /* Ukrywamy przycisk na początku */
}

.scroll-to-top.show {
    display: block; /* Pokazujemy przycisk po przewinięciu o 200px */
}

.scroll-to-top:hover {
    background-color: #8A2BE2;
    transform: scale(1.1);
}

/* 
---- 
----
KONIEC SECTION CONTACT
----
----
*/ 